.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
}


.logos-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 22px;
}


.logos-title{
    background-color: #F0963C;
    color: #fff;
    border-radius: 9999px;
    padding: 0px 15px;
}


.logos-container {
    width: 100%;
    max-width: 1100px;
}

.logos-grid {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.logo-item {
    width: 218px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 40px 9px 0px;
    border-right: 1px solid #E5E5E5;
}

.logo-item:last-child {
    border-right: none;
}

.logo-image {
    max-height: 35px;
    object-fit: contain;
}



@media (max-width: $breakpoint-tablet-horizontal) {
    .logos-grid {
        grid-auto-flow: row;
    }

    .logo-item {
        width: 100%;
        height: auto;
        border-left: 1px solid #E5E5E5;
        padding-left: 40px;
    }
    .logo-item:last-child {
        border-right: 1px solid #E5E5E5;
        border-left: 1px solid #E5E5E5;
    }
}