flynt-component[name='BlockPostHeader'] {
  padding-block-end: 5rem;
  padding-block-start: 6.6rem;

  @media (max-width: $breakpoint-tablet-horizontal) {
    padding-block-end: 1.9rem;
    padding-block-start: 13.5rem;
  }

  &::before {
    background-color: #fff;
    block-size: 81.9%;
    content: '';
    inline-size: calc(100% - 6rem);
    inset-block-start: 0;
    inset-inline-end: 3rem;
    opacity: 0.35;
    position: absolute;
    z-index: -2;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: none;
    }
  }

  h1 {
    color: var(--color-secondary);
    font-family: var(--font-family-heading);
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 2.5rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      font-size: 2.6rem;
      line-height: normal;
      margin-block-end: 1rem;
    }
  }

  img {
    aspect-ratio: 1/0.611;
    border-radius: 0.2rem;
    inline-size: 64.5%;
    margin-inline-start: -25rem;
    object-fit: cover;
    z-index: -2;

    @media (max-width: $breakpoint-tablet-horizontal) {
      border-radius: 1rem;
      inline-size: 100%;
    }
  }

  p {
    font-size: 2rem;
    font-weight: 700;

    @media (max-width: $breakpoint-tablet-horizontal) {
      font-size: 1.6rem;
      margin-block-end: 1.5rem;
    }
  }

  .date {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 300;

    @media (max-width: $breakpoint-tablet-horizontal) {
      font-size: 1.4rem;
      margin-block-end: 1.4rem;
    }
  }

  .back {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group 17'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M2.13613 17C2.13613 8.80369 8.80369 2.13613 17 2.13613C25.1963 2.13613 31.8639 8.80369 31.8639 17C31.8639 25.1963 25.1963 31.8639 17 31.8639C8.80369 31.8639 2.13613 25.1963 2.13613 17ZM2.53989e-07 17C1.13713e-07 26.389 7.61101 34 17 34C26.389 34 34 26.389 34 17C34 7.61102 26.389 4.05246e-06 17 3.96786e-06C7.61102 3.88327e-06 3.94266e-07 7.61102 2.53989e-07 17Z' fill='%23DADFED'/%3E%3C/g%3E%3Cpath id='Vector_2' d='M23.186 16.1796C23.6353 16.1796 24 16.543 24 16.9921C24 17.4412 23.6353 17.8047 23.186 17.8047L12.7862 17.8047L16.6182 21.6118C16.7778 21.7705 16.8581 21.9791 16.8581 22.1876C16.8581 22.3951 16.7788 22.6026 16.6209 22.7608C16.304 23.0787 15.7884 23.0798 15.4699 22.7635L10.2399 17.5679C10.0863 17.4157 10 17.2083 10 16.9921C10 16.776 10.0868 16.5674 10.2404 16.4157L15.4704 11.2359C15.7895 10.9196 16.3051 10.9217 16.622 11.2403C16.9384 11.5593 16.9368 12.0734 16.6177 12.3892L12.7922 16.1779L23.186 16.1796Z' fill='%2313121D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    block-size: 3.4rem;
    border-radius: 50%;
    display: inline-block;
    inline-size: 3.4rem;
    inset-block-start: -0.2rem;
    inset-inline-start: 6.1rem;
    position: absolute;

    @media (max-width: $breakpoint-tablet-horizontal) {
      inset-block-start: 2.8rem;
      position: absolute;
    }
  }

  .container {
    align-items: center;
    block-size: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: $breakpoint-tablet-horizontal) {
      align-items: flex-start;
      flex-direction: column;
      gap: 0.8rem;
      justify-content: flex-start;
    }
  }

  .content {
    inline-size: 54.5%;
    margin-block-end: 4.3rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      inline-size: 100%;
    }
  }

  .wrap {
    color: #fff;
    padding-block: 4.5rem;
    padding-inline: 4.9rem;
    position: relative;

    &::before {
      background-color: var(--color-accent);
      block-size: 100%;
      content: '';
      display: block;
      inline-size: 65.1%;
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    &::after {
      background: linear-gradient(90deg, var(--color-accent) 0%, rgba(0, 86, 188, 0) 100%);
      block-size: 100%;
      content: '';
      display: block;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 65.1%;
      position: absolute;
      z-index: -1;
    }
  }

  .social {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-block-start: 4.2rem;
    margin-inline-start: 4.3rem;

    a {
      background-color: rgba(255, 255, 255, 0.6);
      block-size: 4rem;
      border-radius: 2rem;
      color: inherit;
      display: block;
      min-inline-size: 4rem;
      position: relative;

      &:hover {
        background-color: var(--color-accent);
        color: #fff;

        &::after {
          filter: invert(1);
        }
      }

      &::after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        block-size: 100%;
        content: '';
        display: block;
        inline-size: 4rem;
        position: absolute;
      }

      &.whatsapp::after {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.57604 18.2638C7.82744 18.2663 6.11705 17.7524 4.65952 16.7864L1.22424 17.8839L2.33807 14.5644C1.22753 13.0446 0.63149 11.2097 0.636753 9.32733C0.639032 6.95869 1.58075 4.68771 3.25536 3.01256C4.92997 1.33741 7.20068 0.394886 9.56932 0.391846H9.57411C11.9427 0.394886 14.2135 1.33741 15.8881 3.01256C17.5627 4.68771 18.5045 6.95869 18.5067 9.32733C18.5045 11.6957 17.563 13.9666 15.8888 15.6418C14.2147 17.3171 11.9444 18.26 9.57604 18.2638ZM6.20874 4.47973C5.87446 4.46459 5.54726 4.5795 5.29583 4.80031L5.27288 4.82326C4.98151 5.09904 4.75158 5.43315 4.59807 5.80381C4.44457 6.17446 4.37097 6.57331 4.38204 6.97435C4.45876 7.95222 4.8252 8.88503 5.4346 9.65364L5.4461 9.66894C5.45567 9.68138 5.47386 9.7082 5.50065 9.74743C6.57516 11.4179 8.0978 12.7525 9.89469 13.5989C10.716 13.9983 11.6025 14.2463 12.5118 14.3309C12.6844 14.3305 12.8565 14.3105 13.0247 14.2716C13.3921 14.2045 13.74 14.0565 14.0432 13.8384C14.3464 13.6202 14.5972 13.3374 14.7777 13.0104C14.9464 12.6189 14.9998 12.1873 14.9318 11.7665C14.881 11.6784 14.7634 11.622 14.5844 11.5359L14.4323 11.4622C14.0419 11.2708 12.8773 10.6967 12.6515 10.6163C12.5792 10.5879 12.5024 10.5726 12.4247 10.5713C12.341 10.5734 12.2593 10.5965 12.1869 10.6385C12.1145 10.6805 12.0538 10.74 12.0104 10.8115L11.907 10.9569C11.7239 11.2282 11.5252 11.4886 11.3119 11.7368C11.2635 11.7864 11.2053 11.8254 11.141 11.8514C11.0768 11.8775 11.0079 11.8899 10.9387 11.888C10.8506 11.8876 10.7635 11.87 10.6822 11.8363L10.6076 11.8057H10.6009C9.86038 11.5109 9.17956 11.0842 8.5914 10.5464C8.02221 10.0203 7.5337 9.4132 7.14169 8.74458C7.08657 8.65782 7.06582 8.55363 7.08352 8.45238C7.10122 8.35113 7.15607 8.26017 7.23736 8.19727L7.24507 8.18863C7.32162 8.09294 7.39718 8.01356 7.47086 7.93509C7.5254 7.87768 7.57897 7.82023 7.63351 7.75708L7.65839 7.72934C7.76659 7.61669 7.85611 7.48745 7.92349 7.34656C7.95554 7.2685 7.96875 7.18403 7.9621 7.09991C7.95545 7.0158 7.92909 6.93443 7.88518 6.86238C7.8402 6.7667 7.54837 6.0605 7.31106 5.49211L7.30628 5.47967L7.28239 5.42132L7.07949 4.92851C6.90821 4.51991 6.78188 4.49791 6.51204 4.48738C6.41826 4.48355 6.31975 4.47879 6.21353 4.47879L6.20874 4.47973Z' fill='black'/%3E%3C/svg%3E%0A");
      }

      &.x::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8898 15.2705L7.34254 10.154L2.90288 15.2705H0.692871L6.36135 8.74066L0.7994 0.714233H5.78291L9.13204 5.54559L13.325 0.714233H15.535L10.1114 6.96275L15.8733 15.2705H10.8898ZM11.8541 13.6572H12.7652L4.80639 2.36583H3.89529L11.8541 13.6572Z' fill='%2313121D'/%3E%3C/svg%3E%0A");
      }

      &.linkedin::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.18737 5.06812H0.855469V15.0925H4.18737V5.06812Z' fill='%2313121D'/%3E%3Cmask id='mask0_258_2821' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='16'%3E%3Cpath d='M16.2025 0.235794H0.658691V15.0935H16.2025V0.235794Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_258_2821)'%3E%3Cpath d='M2.52189 3.69975H2.49988C2.26155 3.71418 2.0228 3.6793 1.79855 3.59731C1.5743 3.51531 1.36937 3.38796 1.19655 3.2232C1.02373 3.05844 0.886744 2.85982 0.794141 2.63974C0.701538 2.41966 0.655309 2.18285 0.658343 1.9441C0.661377 1.70535 0.713608 1.46978 0.811773 1.25213C0.909939 1.03447 1.05193 0.839394 1.22888 0.67908C1.40583 0.518767 1.61393 0.396662 1.84019 0.320391C2.06645 0.24412 2.30601 0.215323 2.5439 0.235798C2.78329 0.21788 3.02379 0.249757 3.25025 0.329418C3.4767 0.40908 3.6842 0.534798 3.85965 0.698646C4.0351 0.862494 4.17469 1.06092 4.26964 1.2814C4.36458 1.50189 4.41281 1.73966 4.41128 1.97971C4.40976 2.21976 4.35851 2.4569 4.26077 2.67616C4.16304 2.89542 4.02093 3.09206 3.84341 3.25366C3.6659 3.41527 3.45682 3.53834 3.22937 3.61512C3.00192 3.69189 2.76103 3.72071 2.52189 3.69975Z' fill='%2313121D'/%3E%3Cpath d='M16.2025 15.0935H12.8706V9.73488C12.8706 8.38757 12.3922 7.468 11.1827 7.468C10.8069 7.47014 10.4409 7.5883 10.1348 7.80635C9.82876 8.02439 9.59751 8.33166 9.47271 8.68613C9.38716 8.94837 9.34987 9.22395 9.36267 9.49949V15.0973H6.03076C6.03076 15.0973 6.07478 6.01257 6.03076 5.0729H9.36267V6.49197C9.66427 5.96819 10.1036 5.53706 10.633 5.24539C11.1623 4.95371 11.7615 4.81264 12.3654 4.8375C14.5576 4.8375 16.2016 6.27284 16.2016 9.34925L16.2025 15.0935Z' fill='%2313121D'/%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.facebook::after {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.57081 3.61746V5.25662H0.931641V7.71584H2.57081V15.0935H5.85007V7.71584H8.03084L8.3093 5.25662H5.85007V3.82128C5.85007 3.15719 5.91611 2.80506 6.93998 2.80506H8.3093V0.337234H6.10844C3.48942 0.337234 2.57081 1.56684 2.57081 3.61746Z' fill='%2313121D'/%3E%3C/svg%3E%0A");
      }

      &.copy {
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        justify-content: center;
        padding-inline-end: 1.7rem;
        padding-inline-start: 4.8rem;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.96742 15.5107C1.57214 15.1183 1.25863 14.6513 1.0451 14.1369C0.831568 13.6224 0.722441 13.0707 0.723643 12.5137C0.722441 11.9567 0.831568 11.405 1.0451 10.8906C1.25863 10.3761 1.57214 9.90918 1.96742 9.51675L3.7158 7.76755C3.82937 7.65326 3.96415 7.56262 4.11295 7.50087C4.26176 7.43911 4.42188 7.40746 4.58299 7.40775C4.9094 7.40784 5.22264 7.5372 5.45391 7.76755C5.68344 7.99846 5.81181 8.31082 5.81181 8.63641C5.81181 8.96199 5.68344 9.27435 5.45391 9.50527L3.70459 11.2545C3.53816 11.4185 3.40558 11.6141 3.31585 11.8299C3.22613 12.0457 3.18118 12.2772 3.18222 12.5109C3.1824 12.7444 3.22807 12.9755 3.31772 13.1911C3.40738 13.4067 3.53915 13.6025 3.70459 13.7673C3.8696 13.9332 4.06596 14.0648 4.28209 14.1544C4.49823 14.2441 4.72932 14.2901 4.96332 14.2897C5.19753 14.2905 5.43006 14.2448 5.64641 14.1551C5.86277 14.0654 6.05898 13.9336 6.22391 13.7673L7.96856 12.0219C8.19878 11.7923 8.50969 11.663 8.83481 11.6621C8.99755 11.6616 9.15946 11.6938 9.30952 11.7568C9.45959 11.8197 9.59484 11.9122 9.70854 12.0286C9.82282 12.1422 9.91404 12.2772 9.9758 12.4261C10.0376 12.5749 10.0686 12.7344 10.0683 12.8955C10.0683 13.222 9.93897 13.5351 9.70854 13.7663L7.96109 15.5117C7.5686 15.9067 7.10122 16.2195 6.58649 16.432C6.07175 16.6444 5.51922 16.7522 4.96238 16.749C4.40605 16.751 3.85521 16.6426 3.34108 16.4301C2.82695 16.2175 2.35987 15.905 1.96742 15.5107ZM5.59128 11.8831C5.4763 11.7701 5.38489 11.6351 5.32309 11.4862C5.26128 11.3373 5.23036 11.1774 5.23151 11.0162C5.23066 10.8544 5.26225 10.6941 5.32402 10.5446C5.3858 10.3951 5.47649 10.2594 5.59128 10.1454L10.0889 5.64803C10.2025 5.53263 10.3384 5.44111 10.4879 5.37884C10.6374 5.31656 10.7978 5.28478 10.9598 5.28536C11.1216 5.28523 11.2814 5.31721 11.4308 5.37947C11.5801 5.44172 11.716 5.53301 11.8298 5.64803C12.0595 5.87818 12.1888 6.18982 12.1895 6.51497C12.1896 6.8414 12.0602 7.15453 11.8298 7.38575L7.32472 11.8908C7.09371 12.1187 6.78205 12.2466 6.45753 12.2468C6.29548 12.2468 6.13488 12.2144 5.98562 12.1512C5.83637 12.0881 5.7013 11.9956 5.58848 11.8793L5.59128 11.8831ZM11.9671 9.7598C11.8527 9.6459 11.7619 9.51051 11.6999 9.3614C11.6379 9.21229 11.6064 9.05241 11.6064 8.89094C11.6064 8.72947 11.6379 8.56958 11.6999 8.42048C11.7619 8.27137 11.8527 8.13598 11.9671 8.02208L13.7118 6.27671C14.0449 5.94208 14.2314 5.48913 14.2314 5.01695C14.2314 4.54478 14.0449 4.09183 13.7118 3.7572C13.3742 3.43122 12.9214 3.25141 12.4521 3.25675C11.9829 3.25162 11.5311 3.4314 11.1934 3.7572L9.44876 5.50641C9.21854 5.73599 8.9067 5.86531 8.58157 5.8662C8.25516 5.86611 7.94192 5.73675 7.71065 5.50641C7.48112 5.27549 7.35275 4.96313 7.35275 4.63755C7.35275 4.31196 7.48112 3.9996 7.71065 3.76869L9.45997 2.01948C9.8524 1.6242 10.3192 1.31072 10.8336 1.09718C11.3481 0.883653 11.8998 0.774321 12.4568 0.775522C13.0139 0.774775 13.5654 0.88431 14.08 1.09781C14.5945 1.31131 15.0617 1.62456 15.4546 2.01948C16.2482 2.8152 16.6946 3.89315 16.6946 5.01695C16.6946 6.14076 16.2482 7.2187 15.4546 8.01442L13.7034 9.76363C13.4743 9.99094 13.1645 10.1188 12.8418 10.1196C12.6791 10.1209 12.5177 10.0898 12.3671 10.0282C12.2165 9.96661 12.0795 9.8757 11.9643 9.76076L11.9671 9.7598Z' fill='%2313121D'/%3E%3C/svg%3E%0A");
          inset-inline-start: 0.7rem;
        }
      }
    }

  }
}
