.hero {
    position: relative;
    width: 96vw;
    height: 95vh;
    overflow: hidden;
    border-radius: 20px;
    margin: 2.5vh 2vw;
    background-color: rgb(0,0,0, 0.2);
}

.hero img {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%; 
    object-fit: cover;
}


.hero_label{
    color: #F0963C; 
    font-weight: bold; 
    font-size: 5rem;
}

.hero_content {
    padding-top: 40vh;
    color: white;
    padding: auto;
}


.hero_title {
    font-size: 4rem;
}

.hero_content p {
    opacity: 0.7;
}

.hero_buttons {
    flex: 1;
    display: flex;
    margin-top: 3rem;
    gap: 1rem;

    a {
      padding: 1rem 1.25rem;
      height: 5rem;
      color: white;
      border: 1px solid rgb(190, 190, 190);  
      background-color: rgb(0, 0, 0, 0.5);
      border-radius: 9999px;          
      font-size: var(--font-size-body);
      cursor: pointer;
      transition: all 0.2s ease;
      line-height: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--color-text);
        color: var(--color-background);
      }
    }

    button{
        display: flex;
        flex-direction: column;
        height: 5rem;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover{
            color: grey;
        }
    }    
  }



  @media (max-width: $breakpoint-tablet-horizontal) {
    .hero_title {
        font-size: 2rem;
    }

    .hero_label {
        font-size: 3rem;
    }

    .hero_buttons {
        flex-direction: column;
        align-items: flex-start;

        a, button {
            width: 30vw;
            justify-content: center;
        }
    }
  }

  @media (max-width: 650px) {
    .hero_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .hero_moto{
        display: none;
    }
  }