.lawyers{
    max-width: 88%; 
    margin: 0 auto; 
    padding: 60px 20px;
}

.lawyers-title {
    font-size: 40px;
}


.lawyers-title-container{
    display: flex; 
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.lawyers-link{
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover{
        background-color: rgb(39, 39, 39);
    }
}



.lawyers-slider {
    width: 100%;
    overflow: hidden;
}

.lawyers-cards-container {
    display: flex;
    gap: 20px;
    animation: scroll 25s linear infinite;
}

.lawyer-image {
    width: 200px;
    flex-shrink: 0;  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-74%);
    }
}


@media (max-width: $breakpoint-tablet-horizontal) {
    .lawyers-title-container{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}