<flynt-component name="BlockLawyers" load:on="visible">
<section class="lawyers">
  <div class="lawyers-title-container">
    <span class="lawyers-title">{{ title.title }} <span style="color: #F5A623;">{{  title.spanned_word  }}</span></span>
    <svg width="227" height="6" viewBox="0 0 227 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.02656e-05 2.66675C2.02656e-05 4.13951 1.19393 5.33341 2.66669 5.33341C4.13945 5.33341 5.33335 4.13951 5.33335 2.66675C5.33335 1.19399 4.13945 8.13007e-05 2.66669 8.13007e-05C1.19393 8.13007e-05 2.02656e-05 1.19399 2.02656e-05 2.66675ZM221 2.66675C221 4.13951 222.194 5.33341 223.667 5.33341C225.139 5.33341 226.333 4.13951 226.333 2.66675C226.333 1.19399 225.139 8.13007e-05 223.667 8.13007e-05C222.194 8.13007e-05 221 1.19399 221 2.66675ZM2.66669 2.66675V3.16675H223.667V2.66675V2.16675H2.66669V2.66675Z" fill="#D9D9D9"/>
    </svg>
    <a href="/wordpress/index.php/komanda" class="lawyers-link">{{ link }}</a>
  </div>

  <div class="lawyers-slider">
    <div class="lawyers-cards-container">
      <img class="lawyer-image" src="https://picsum.photos/200">
      <img class="lawyer-image" src="https://picsum.photos/201">
      <img class="lawyer-image" src="https://picsum.photos/202">
      <img class="lawyer-image" src="https://picsum.photos/203">
      <img class="lawyer-image" src="https://picsum.photos/204">
      <img class="lawyer-image" src="https://picsum.photos/205">
      <img class="lawyer-image" src="https://picsum.photos/206">
      <img class="lawyer-image" src="https://picsum.photos/200">
      <img class="lawyer-image" src="https://picsum.photos/201">
      <img class="lawyer-image" src="https://picsum.photos/202">
      <img class="lawyer-image" src="https://picsum.photos/203">
      <img class="lawyer-image" src="https://picsum.photos/204">
      <img class="lawyer-image" src="https://picsum.photos/205">
      <img class="lawyer-image" src="https://picsum.photos/206">
    </div>
  </div>
</section>
</flynt-component>