<flynt-component name="BlockAbout" load:on="visible">
<section class="about">
  <div class="about-container">
    <div class="about-header">
      <span class="about-title">Profesionāļi, kam uzticas līderi</span>
      <a href="/wordpress/index.php/par-mums"><svg width="110" height="35" viewBox="0 0 110 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.6">
          <mask id="path-1-inside-1_44_746" fill="white">
          <path d="M0 0H109.111V35H0V0Z"/>
          </mask>
          <path d="M109.111 35V34H0V35V36H109.111V35Z" fill="black" mask="url(#path-1-inside-1_44_746)"/>
          <path d="M8.813 17.112C8.813 18.04 8.493 18.8133 7.853 19.432C7.22367 20.04 6.25833 20.344 4.957 20.344H2.813V25H1.357V13.848H4.957C6.21567 13.848 7.17033 14.152 7.821 14.76C8.48233 15.368 8.813 16.152 8.813 17.112ZM4.957 19.144C5.76767 19.144 6.365 18.968 6.749 18.616C7.133 18.264 7.325 17.7627 7.325 17.112C7.325 15.736 6.53567 15.048 4.957 15.048H2.813V19.144H4.957ZM10.0786 20.584C10.0786 19.688 10.26 18.904 10.6226 18.232C10.9853 17.5493 11.4813 17.0213 12.1106 16.648C12.7506 16.2747 13.46 16.088 14.2386 16.088C15.0066 16.088 15.6733 16.2533 16.2386 16.584C16.804 16.9147 17.2253 17.3307 17.5026 17.832V16.232H18.9746V25H17.5026V23.368C17.2146 23.88 16.7826 24.3067 16.2066 24.648C15.6413 24.9787 14.98 25.144 14.2226 25.144C13.444 25.144 12.74 24.952 12.1106 24.568C11.4813 24.184 10.9853 23.6453 10.6226 22.952C10.26 22.2587 10.0786 21.4693 10.0786 20.584ZM17.5026 20.6C17.5026 19.9387 17.3693 19.3627 17.1026 18.872C16.836 18.3813 16.4733 18.008 16.0146 17.752C15.5666 17.4853 15.0706 17.352 14.5266 17.352C13.9826 17.352 13.4866 17.48 13.0386 17.736C12.5906 17.992 12.2333 18.3653 11.9666 18.856C11.7 19.3467 11.5666 19.9227 11.5666 20.584C11.5666 21.256 11.7 21.8427 11.9666 22.344C12.2333 22.8347 12.5906 23.2133 13.0386 23.48C13.4866 23.736 13.9826 23.864 14.5266 23.864C15.0706 23.864 15.5666 23.736 16.0146 23.48C16.4733 23.2133 16.836 22.8347 17.1026 22.344C17.3693 21.8427 17.5026 21.2613 17.5026 20.6ZM22.8911 17.656C23.1471 17.1547 23.5098 16.7653 23.9791 16.488C24.4591 16.2107 25.0405 16.072 25.7231 16.072V17.576H25.3391C23.7071 17.576 22.8911 18.4613 22.8911 20.232V25H21.4351V16.232H22.8911V17.656ZM42.2135 16.072C42.8962 16.072 43.5042 16.216 44.0375 16.504C44.5708 16.7813 44.9922 17.2027 45.3015 17.768C45.6108 18.3333 45.7655 19.0213 45.7655 19.832V25H44.3255V20.04C44.3255 19.1653 44.1068 18.4987 43.6695 18.04C43.2428 17.5707 42.6615 17.336 41.9255 17.336C41.1682 17.336 40.5655 17.5813 40.1175 18.072C39.6695 18.552 39.4455 19.2507 39.4455 20.168V25H38.0055V20.04C38.0055 19.1653 37.7868 18.4987 37.3495 18.04C36.9228 17.5707 36.3415 17.336 35.6055 17.336C34.8482 17.336 34.2455 17.5813 33.7975 18.072C33.3495 18.552 33.1255 19.2507 33.1255 20.168V25H31.6695V16.232H33.1255V17.496C33.4135 17.0373 33.7975 16.6853 34.2775 16.44C34.7682 16.1947 35.3068 16.072 35.8935 16.072C36.6295 16.072 37.2802 16.2373 37.8455 16.568C38.4108 16.8987 38.8322 17.384 39.1095 18.024C39.3548 17.4053 39.7602 16.9253 40.3255 16.584C40.8908 16.2427 41.5202 16.072 42.2135 16.072ZM55.9299 16.232V25H54.4739V23.704C54.1965 24.152 53.8072 24.504 53.3059 24.76C52.8152 25.0053 52.2712 25.128 51.6739 25.128C50.9912 25.128 50.3779 24.9893 49.8339 24.712C49.2899 24.424 48.8579 23.9973 48.5379 23.432C48.2285 22.8667 48.0739 22.1787 48.0739 21.368V16.232H49.5139V21.176C49.5139 22.04 49.7325 22.7067 50.1699 23.176C50.6072 23.6347 51.2045 23.864 51.9619 23.864C52.7405 23.864 53.3539 23.624 53.8019 23.144C54.2499 22.664 54.4739 21.9653 54.4739 21.048V16.232H55.9299ZM68.9323 16.072C69.6149 16.072 70.2229 16.216 70.7563 16.504C71.2896 16.7813 71.7109 17.2027 72.0203 17.768C72.3296 18.3333 72.4843 19.0213 72.4843 19.832V25H71.0443V20.04C71.0443 19.1653 70.8256 18.4987 70.3883 18.04C69.9616 17.5707 69.3803 17.336 68.6443 17.336C67.8869 17.336 67.2843 17.5813 66.8363 18.072C66.3883 18.552 66.1643 19.2507 66.1643 20.168V25H64.7243V20.04C64.7243 19.1653 64.5056 18.4987 64.0683 18.04C63.6416 17.5707 63.0603 17.336 62.3243 17.336C61.5669 17.336 60.9643 17.5813 60.5163 18.072C60.0683 18.552 59.8443 19.2507 59.8443 20.168V25H58.3883V16.232H59.8443V17.496C60.1323 17.0373 60.5163 16.6853 60.9963 16.44C61.4869 16.1947 62.0256 16.072 62.6123 16.072C63.3483 16.072 63.9989 16.2373 64.5643 16.568C65.1296 16.8987 65.5509 17.384 65.8283 18.024C66.0736 17.4053 66.4789 16.9253 67.0443 16.584C67.6096 16.2427 68.2389 16.072 68.9323 16.072ZM77.9766 25.144C77.3046 25.144 76.702 25.032 76.1686 24.808C75.6353 24.5733 75.214 24.2533 74.9046 23.848C74.5953 23.432 74.4246 22.9573 74.3926 22.424H75.8966C75.9393 22.8613 76.142 23.2187 76.5046 23.496C76.878 23.7733 77.3633 23.912 77.9606 23.912C78.5153 23.912 78.9526 23.7893 79.2726 23.544C79.5926 23.2987 79.7526 22.9893 79.7526 22.616C79.7526 22.232 79.582 21.9493 79.2406 21.768C78.8993 21.576 78.3713 21.3893 77.6566 21.208C77.006 21.0373 76.4726 20.8667 76.0566 20.696C75.6513 20.5147 75.2993 20.2533 75.0006 19.912C74.7126 19.56 74.5686 19.1013 74.5686 18.536C74.5686 18.088 74.702 17.6773 74.9686 17.304C75.2353 16.9307 75.614 16.6373 76.1046 16.424C76.5953 16.2 77.1553 16.088 77.7846 16.088C78.7553 16.088 79.5393 16.3333 80.1366 16.824C80.734 17.3147 81.054 17.9867 81.0966 18.84H79.6406C79.6086 18.3813 79.422 18.0133 79.0806 17.736C78.75 17.4587 78.302 17.32 77.7366 17.32C77.214 17.32 76.798 17.432 76.4886 17.656C76.1793 17.88 76.0246 18.1733 76.0246 18.536C76.0246 18.824 76.1153 19.064 76.2966 19.256C76.4886 19.4373 76.7233 19.5867 77.0006 19.704C77.2886 19.8107 77.6833 19.9333 78.1846 20.072C78.814 20.2427 79.326 20.4133 79.7206 20.584C80.1153 20.744 80.4513 20.9893 80.7286 21.32C81.0166 21.6507 81.166 22.0827 81.1766 22.616C81.1766 23.096 81.0433 23.528 80.7766 23.912C80.51 24.296 80.1313 24.6 79.6406 24.824C79.1606 25.0373 78.606 25.144 77.9766 25.144Z" fill="black"/>
          <g clip-path="url(#clip0_44_746)">
          <path d="M92.2152 24.6455L102.377 14.6299" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
          <path d="M92.2152 13.9658H102.896V24.6463" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_44_746">
          <rect width="23.1108" height="13.6953" fill="white" transform="translate(86 12.1523)"/>
          </clipPath>
          </defs>
          </svg>
      </a>
    </div>
    <p class="about-subtitle">AmberLaw ir zvērinātu advokātu birojs, kas kopš 2011. gada piedāvā </br>
      augstākā līmeņa juridiskos pakalpojumus uzņēmumiem un </br>
      privātpersonām Latvijā un ārvalstīs.
    </p>
    <div class="about-boxes">
      <div class="about-box">
        <span class="about-box-top">13+</span>
        <span class="about-box-text">
          Gadu pieredze </br> 
          juridiskajā praksē
        </span>
      </div>
      <div class="about-box">
        <span class="about-box-top">10+</span>
        <span class="about-box-text">
          Nozares, kurās sniedzam </br>
          pakalpojumus
        </span>
      </div>
      <div class="about-box-fortune">
        <span class="about-box-top">Fortune 500</span>
        <span class="about-box-text">
          Klienti no Fortune 500 līdz </br>
          jaunuzņēmumiem
        </span>
      </div>

      <div class="about-box" style="background-image: url('http://localhost:8888/wordpress/wp-content/themes/custom-theme/assets/images/about-box.svg'); align-items: center; text-align: center;">
        <svg width="133" height="62" viewBox="0 0 133 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M89.1315 40.1494C90.9017 40.1494 92.4387 40.5308 93.7418 41.293C95.0446 42.0551 96.0157 43.0136 96.6549 44.1689V40.4814H100.048V60.6924H96.6549V56.9307C95.991 58.1107 94.9952 59.0941 93.6676 59.8809C92.3645 60.643 90.8401 61.0244 89.0944 61.0244C87.2995 61.0244 85.6769 60.5814 84.2262 59.6963C82.7756 58.8112 81.6325 57.5697 80.7965 55.9717C79.9605 54.3735 79.5416 52.5535 79.5416 50.5127C79.5417 48.4475 79.9606 46.6407 80.7965 45.0918C81.6325 43.5182 82.7755 42.301 84.2262 41.4404C85.7015 40.5799 87.3366 40.1494 89.1315 40.1494ZM68.233 10.8438C68.9215 9.63902 69.9288 8.65478 71.2565 7.89258C72.5842 7.13035 74.097 6.74902 75.7936 6.74902C77.613 6.74906 79.2482 7.1795 80.6989 8.04004C82.1495 8.90058 83.2926 10.1179 84.1285 11.6914C84.9645 13.2404 85.3824 15.0479 85.3824 17.1133C85.3824 19.1539 84.9644 20.9732 84.1285 22.5713C83.2926 24.1695 82.137 25.4117 80.6617 26.2969C79.2111 27.182 77.5884 27.625 75.7936 27.625C74.0479 27.625 72.5109 27.2436 71.1832 26.4814C69.8801 25.7192 68.8969 24.7476 68.233 23.5674V57.9629H77.2321V60.6924H64.8766V0H68.233V10.8438ZM111.4 57.4473L116.416 40.4814H119.846L124.752 57.4834L129.325 40.4814H132.644L126.338 60.6924H122.87L118.002 44.6484L113.133 60.6924H109.667L103.323 40.4814H106.753L111.4 57.4473ZM89.7955 43.0625C88.5415 43.0625 87.3976 43.3581 86.3649 43.9482C85.3324 44.5383 84.5088 45.3986 83.8942 46.5293C83.2795 47.6603 82.9723 48.9884 82.9723 50.5127C82.9723 52.0617 83.2795 53.4147 83.8942 54.5703C84.5088 55.7011 85.3324 56.5738 86.3649 57.1885C87.3976 57.7786 88.5415 58.0742 89.7955 58.0742C91.0494 58.0742 92.1926 57.7785 93.2252 57.1885C94.2824 56.5738 95.1184 55.7012 95.733 54.5703C96.3477 53.4147 96.6549 52.0743 96.6549 50.5498C96.6549 49.0254 96.3477 47.6974 95.733 46.5664C95.1184 45.4356 94.2823 44.5754 93.2252 43.9854C92.1926 43.3707 91.0494 43.0626 89.7955 43.0625ZM98.5416 6.74902C100.459 6.74906 102.156 7.16697 103.631 8.00293C105.107 8.83891 106.237 9.99547 107.024 11.4707C107.835 12.9212 108.241 14.5683 108.241 16.4121C108.241 17.0513 108.204 17.7275 108.13 18.4404H91.9762C92.0991 20.432 92.7752 21.994 94.0045 23.125C95.2585 24.2315 96.7713 24.7842 98.5416 24.7842C99.9922 24.7841 101.197 24.4529 102.156 23.7891C103.139 23.1006 103.828 22.1906 104.221 21.0596H107.836C107.295 23.0019 106.213 24.588 104.59 25.8174C102.968 27.0222 100.951 27.624 98.5416 27.624C96.6238 27.624 94.902 27.1946 93.3776 26.334C91.8779 25.4735 90.6981 24.256 89.8375 22.6826C88.977 21.0845 88.5466 19.2402 88.5465 17.1504C88.5465 15.0604 88.9644 13.2279 89.8004 11.6543C90.6364 10.0808 91.8045 8.87598 93.3043 8.04004C94.8287 7.17954 96.5747 6.74902 98.5416 6.74902ZM22.8268 27.293H19.2867L17.2213 21.5762H6.0094L3.94397 27.293H0.402954L9.6969 1.7334H13.5699L22.8268 27.293ZM51.1832 6.71289C52.7566 6.71291 54.1581 7.04427 55.3873 7.70801C56.6167 8.34729 57.5883 9.31891 58.3014 10.6221C59.0144 11.9252 59.3707 13.5113 59.3707 15.3799V27.293H56.0514V15.8594C56.0514 13.8433 55.5476 12.3063 54.5397 11.249C53.5562 10.1672 52.2157 9.62598 50.5192 9.62598C48.7735 9.62598 47.3839 10.1913 46.3512 11.3223C45.3185 12.4287 44.8024 14.0397 44.8024 16.1543V27.293H41.483V15.8594C41.483 13.8433 40.9793 12.3063 39.9713 11.249C38.9878 10.1672 37.6474 9.62598 35.9508 9.62598C34.2051 9.62599 32.8155 10.1913 31.7828 11.3223C30.7501 12.4287 30.234 14.0397 30.234 16.1543V27.293H26.8776V7.08105H30.234V9.99512C30.8978 8.9379 31.7829 8.12606 32.8893 7.56055C34.0203 6.99502 35.2625 6.71289 36.6149 6.71289C38.3112 6.71291 39.8109 7.09345 41.1139 7.85547C42.417 8.61767 43.3887 9.73671 44.028 11.2119C44.5935 9.78594 45.5277 8.67936 46.8307 7.89258C48.1338 7.10576 49.585 6.71289 51.1832 6.71289ZM122.556 10.1797H121.671C117.909 10.1797 116.028 12.2202 116.028 16.3018V27.293H112.672V7.08105H116.028V10.3643C116.618 9.20867 117.454 8.31115 118.536 7.67188C119.642 7.03259 120.983 6.71289 122.556 6.71289V10.1797ZM75.0924 9.66309C73.8631 9.66312 72.7199 9.97036 71.6627 10.585C70.63 11.1751 69.7942 12.0485 69.1549 13.2041C68.5403 14.3351 68.233 15.6506 68.233 17.1504C68.2331 18.6747 68.5403 20.0144 69.1549 21.1699C69.7942 22.301 70.63 23.1744 71.6627 23.7891C72.7199 24.3791 73.8632 24.6738 75.0924 24.6738C76.3464 24.6738 77.4904 24.3792 78.5231 23.7891C79.5802 23.1744 80.4162 22.3009 81.0309 21.1699C81.6454 20.0144 81.9527 18.6621 81.9528 17.1133C81.9528 15.5889 81.6456 14.2609 81.0309 13.1299C80.4162 11.9989 79.5803 11.138 78.5231 10.5479C77.4904 9.95774 76.3464 9.66309 75.0924 9.66309ZM6.96838 18.8467H16.2623L11.6149 5.86426L6.96838 18.8467ZM98.3942 9.58887C96.6976 9.58887 95.2464 10.13 94.0416 11.2119C92.8614 12.2938 92.1854 13.7941 92.0133 15.7119H104.774C104.774 14.4333 104.492 13.3385 103.926 12.4287C103.361 11.4945 102.586 10.7943 101.602 10.3271C100.643 9.83551 99.5742 9.58891 98.3942 9.58887Z" fill="white"/>
          <rect y="33" width="59.5043" height="28.0248" rx="14.0124" fill="#F0963C"/>
        </svg>
        <span style="background-color: white; color: black; padding: 10px 20px; border-radius: 100px; margin-top: 20px;">
          JCA International biedrs
        </span>
      </div>
      
  </div>
</section>
</flynt-component>
