<flynt-component name="BlockHero" load:on="visible">
<section class="hero">
  <div class="container">
    <img class = "hero_image" src = "http://localhost:8888/wordpress/wp-content/themes/custom-theme/assets/images/hero-image.svg"></img>
    fuckk
  </div>
</section>
