/**
 * Typography
 */

html {
  // Set the root font size to 62.5% of the viewport width
  // so that 1rem = 10px
  font-size: 62.5%;
  scroll-padding-top: 8rem !important;

  @media (min-width: $breakpoint-desktop) {
    scroll-padding-top: 11rem !important;
  }

  // Automatically resize everything based on viewport width between $breakpoint-tablet-horizontal and $breakpoint-content
  @media (min-width: $breakpoint-tablet-horizontal + 1) and (max-width: $breakpoint-content) {
    font-size: 0.695vw;
  }
}

body {
  color: var(--color-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  font-weight: 300;
  line-height: normal;
  background-color: var(--color-background);

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 1.6rem;
  }
}

.h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: normal;

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 3.5rem;
  }
}

.h2 {
  font-size: 5rem;
  font-weight: 700;

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 2.5rem;
  }
}

.h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 2.5rem;
  }
}

.h4 {
  font-size: 3rem;

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 1.8rem;
  }
}

.h5 {
  font-size: 2.8rem;
  font-weight: 700;

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 2rem;
    font-weight: 800;
  }
}

.h6 {
  font-size: 2.5rem;

  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: 1.8rem;
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

// Set the font size for the editor
// Seperate because the editor has a different root font size, have to use px
.editor-styles-wrapper {
  font-size: 18px;
  padding-block-end: 3rem;

  h1,
  .h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
  }

  h2,
  .h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  h3,
  .h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
  }
}

kbd,
code {
  background: var(--color-background-secondary);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.95em;
  padding-block: 0;
  padding-inline: 0.375em;
  word-break: break-word;
}

img {
  block-size: initial;
  inline-size: 100%;

  .wp-block-image & {
    inline-size: initial;
  }
}

figcaption {
  color: var(--color-text-muted);
  font-size: var(--font-size-body-small);
  margin-block-start: 0.25rem;
}

blockquote,
.blockquote {
  border-inline-start: 5px solid var(--color-accent);
  display: block;
  font-size: 1.44rem;
  font-style: normal;
  font-weight: 500;
  line-height: calc(1em + 0.75rem);
  margin-block: var(--flow-space);
  margin-inline: 2.5rem 0;
  padding-inline-start: 0.8rem;

  @media (max-width: $breakpoint-tablet-horizontal) {
    border-width: 3px;

  }

  cite {
    color: var(--color-text-muted);
    display: block;
    font-size: var(--font-size-body);
    font-style: normal;
    margin-block-start: 0.25rem;
  }
}

.wp-block-post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-block-end: 2.5rem;
  }

  h1,
  .h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $breakpoint-tablet-horizontal) {
      font-size: 2.2rem;
      line-height: normal;
    }
  }

  h2,
  .h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 1.9rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      font-size: 2rem;
      line-height: normal;
      margin-block-end: 1rem;
    }
  }

  h3,
  .h3 {
    font-size: 2.2rem;
    line-height: normal;
  }

  h4,
  .h4 {
    font-size: 1.8rem;
  }

  h5,
  .h5 {
    font-size: 1.8rem;
  }

  h6,
  .h6 {
    font-size: 1.8rem;
  }

  p {
    margin-block-end: 2.1rem;
  }

  .wp-block-image {
    margin-block-end: 5rem;
    margin-block-start: 4.7rem;
  }

  .wp-block-quote {
    background-color: var(--color-background);
    border: 0;
    font-style: italic;
    font-weight: 300;
    margin-inline-start: 0;
    max-inline-size: 75.3rem;
    padding-block: 5.3rem;
    padding-inline: 4.6rem;
    position: relative;

    @media (max-width: $breakpoint-tablet-horizontal) {
      margin-inline: -1rem;
      padding-block: 4.8rem;
      padding-inline-end: 2.6rem;
      padding-inline-start: 3.5rem;
    }

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.422' height='24.787' viewBox='0 0 32.422 24.787'%3E%3Cpath id='Path_32631' data-name='Path 32631' d='M5.043-50v-6.818a19.726,19.726,0,0,1,1.136-6.357,27.7,27.7,0,0,1,3.161-6.392,22.352,22.352,0,0,1,4.759-5.22l5.256,3.764a41.193,41.193,0,0,0-3.693,6.605,18.28,18.28,0,0,0-1.527,7.493V-50Zm18.111,0v-6.818a19.726,19.726,0,0,1,1.136-6.357,27.7,27.7,0,0,1,3.161-6.392,22.352,22.352,0,0,1,4.759-5.22l5.256,3.764a41.193,41.193,0,0,0-3.693,6.605,18.28,18.28,0,0,0-1.527,7.493V-50Z' transform='translate(-5.043 74.787)' fill='%23c6a160'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      block-size: 2.5rem;
      content: '';
      inline-size: 3.2rem;
      inset-block-start: -0.6rem;
      inset-inline-start: 4.6rem;
      position: absolute;

      @media (max-width: $breakpoint-tablet-horizontal) {
        inset-block-start: -0.7rem;
        inset-inline-start: 3.6rem;
      }
    }
  }
}

/**
 * Buttons
 */

.button {
  --button-background-color: var(--color-accent);
  --button-border-color: var(--color-accent);
  --button-border-width: 0;
  --button-border-radius: 10rem;
  --button-font-weight: 700;
  --button-text-color: #fff;
  --button-padding-inline: 2rem;
  --button-padding-block: 1.5rem;

  appearance: none;
  background-color: var(--button-background-color);
  border: solid var(--button-border-width) var(--button-border-color);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-family: var(--font-family-text);
  font-weight: var(--button-font-weight);
  letter-spacing: 0;
  padding-block-end: var(--button-padding-block);
  padding-block-start: var(--button-padding-block);
  padding-inline: var(--button-padding-inline);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: $breakpoint-tablet-horizontal) {
    --button-padding-inline: 3.4rem;
    --button-padding-block: 0.7rem;
  }

  &:disabled,
  &--disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--link {
    --button-background-color: transparent;
    --button-text-color: var(--color-text-white);
    --button-padding-inline: 0;
    --button-padding-block: 0;
    --button-font-weight: 800;
    text-transform: none;
  }

  &--outlined {
    --button-border-width: 0.1rem;
    --button-border-color: var(--color-border);
    --button-background-color: transparent;
    --button-text-color: var(--color-text);
  }
}

/**
 * Forms
 */

form {
  margin: 0;

  .message {
    display: none;
  }

  &.success {
    block-size: 100%;

    .message.success {
      display: flex;
    }
  }

  &.error {
    .message.error {
      display: block;
    }
  }

  &.loading {
    .loader {
      display: block;
    }

    button[type='submit'] {
      color: transparent;
      position: relative;
    }
  }
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  color: var(--color-text);
  font-size: var(--font-size-body);
  font-weight: 700;
  padding: 0;
}

[type='tel'],
[type='url'],
[type='text'],
[type='date'],
[type='email'],
[type='search'],
[type='number'],
[type='password'],
textarea,
select {
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid var(--color-text);
  border-radius: 0;
  caret-color: var(--color-text);
  color: var(--color-text);
  max-inline-size: 100%;
  padding-block: 1.8rem;
  padding-inline: 1rem;
  transition: border-color 0.3s ease-in-out;

  @media (max-width: $breakpoint-tablet-horizontal) {
    padding-block: 1rem;
    padding-inline: 1.9rem;
  }

  &::placeholder {
    color: var(--color-text);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='none'%3E%3Crect width='38' height='38' fill='rgba(255, 255, 255, 0.7)' rx='19'/%3E%3Cpath stroke='rgba(48, 48, 48, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8.846 15.846 19 26l10.153-10.154'/%3E%3C/svg%3E");
  background-position: calc(100% - 2.25rem) center;
  background-repeat: no-repeat;
  background-size: 1.75rem;
  line-height: 1.5;
  padding-inline-end: 54px;
}

option {
  // Fix for Windows.
  color: initial;
}

textarea {
  inline-size: 100%;
  min-block-size: 10.4rem;
  resize: vertical;
  vertical-align: top;
}

/*
 * Checkbox
 *
 * <div class="checkbox">
 *    <input type="checkbox">
 *    <label class="label"></label>
 * </div>
 */
.checkbox {
  display: flex;
  flex-direction: column;

  input {
    block-size: 0;
    inline-size: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;

    &:checked {
      ~ .label {
        &::after {
          display: block;
        }

        &::before {
          background-color: #141010;
          border-color: #141010;
        }
      }
    }
  }

  .label {
    color: inherit;
    cursor: pointer;
    display: block;
    padding-inline-start: 4.2rem;
    position: relative;

    @media (max-width: $breakpoint-tablet-horizontal) {
      inline-size: 100%;
      padding-inline-start: 4.6rem;
    }

    &::before {
      background-color: #fff;
      block-size: 2.5rem;
      border: 1px solid #e3e3e3;
      border-radius: 0.5rem;
      content: '';
      display: inline-block;
      inline-size: 2.5rem;
      inset-block-start: 50%;
      inset-inline-start: 0;
      position: absolute;
      transform: translate(0, -50%);

      @media (max-width: $breakpoint-tablet-horizontal) {
        background-color: #fff;
        border-radius: 50%;
      }
    }

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.208' height='10.438' viewBox='0 0 14.208 10.438'%3E%3Cg id='check-mark_2128' transform='translate(0 -4.284)'%3E%3Cpath id='Path_32645' data-name='Path 32645' d='M14.043,6.42,5.9,14.559a.559.559,0,0,1-.789,0L.162,9.577a.56.56,0,0,1,0-.79L1.345,7.6a.558.558,0,0,1,.789,0l3.378,3.4L12.07,4.446a.56.56,0,0,1,.79,0L14.042,5.63A.556.556,0,0,1,14.043,6.42Z' fill='%23d9ba74'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      block-size: 2.5rem;
      content: '';
      display: none;
      inline-size: 2.5rem;
      inset-block-start: 50%;
      inset-inline-start: 0;
      position: absolute;
      transform: translate(0, -50%);
    }
  }
}

/**
 * Helpers
 */

flynt-component {
  display: block;
  position: relative;
}

.pageWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100%;
}

.wp-block-post-content > .alignfull {
  margin-inline: auto;
  max-inline-size: var(--content-max-width-full) !important;
}

.container {
  margin-inline: auto;
  max-inline-size: calc(var(--content-max-width-full) + var(--container-spacing) * 2);
  padding-inline: var(--container-spacing);

  &[data-size='full'] {
    padding-inline: 0;
  }
}

[data-size='medium'] {
  max-inline-size: var(--content-max-width);
}

[data-size='wide'] {
  max-inline-size: var(--content-max-width-wide);
}

[data-size='full'] {
  max-inline-size: 100%;
}

[data-align='left'] {
  margin-inline: unset;
}

[data-align='center'] {
  margin-inline: auto;
}

[data-text-align='left'] {
  text-align: start;
}

[data-text-align='center'] {
  text-align: center;
}

// Balance layouted text lines on mobile.
@media (max-width: $breakpoint-tablet - 1) {
  [data-size='wide'],
  [data-size='full'],
  [data-text-align='center'] {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      text-wrap: balance;

      br {
        display: none;
      }
    }
  }
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

// Class for text that should only be visible to screen readers.
.visuallyHidden,
.visuallyHidden-focusable {
  block-size: 1px;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  transition: none !important;
  white-space: nowrap;
}

.visuallyHidden-focusable {
  &:focus-visible {
    background-color: var(--color-background);
    block-size: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    clip: auto;
    color: var(--color-text);
    font-size: 1rem;
    inline-size: auto;
    inset-block-start: 0;
    inset-inline-start: 0;
    outline-offset: -3px;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    text-decoration: none;
    z-index: 100000;
  }
}

/**
 * Misc
 */

.mainHeader {
  inline-size: 100%;
}

.missing-css {
  display: none !important;
}

.loader {
  animation: spin 2s linear infinite;
  block-size: 2rem;
  border: 0.3rem solid #000;
  border-block-start: 0.3rem solid var(--color-accent);
  border-radius: 50%;
  display: none;
  inline-size: 2rem;
  inset-inline-start: 50%;
  margin-block-start: 0.3rem;
  margin-inline: auto;
  margin-inline-start: -1rem;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
