// Use @fontsource library for google fonts
// https://fontsource.org/
// For example: npm install @fontsource/roboto
@import '@fontsource-variable/open-sans';

// Use @font-face for local fonts
// Put font files in assets/fonts folder if needed
