flynt-component[name='BlockContacts'] {
  padding-block-end: 7.7rem;
  padding-block-start: 7.8rem;

  @media (max-width: $breakpoint-tablet-horizontal) {
    padding-block-end: 3rem;
    padding-block-start: 2rem;
  }

  .wrap {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.15);
    inline-size: 33.9%;
    margin-inline: auto;
    max-inline-size: 50rem;
    min-block-size: 61rem;
    padding-block: 5rem;
    padding-inline: 4.4rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      background-color: transparent;
      inline-size: 100%;
      margin: 0;
      min-block-size: auto;
      padding: 0;
    }
  }

  @import 'Partials/form';
}
