.menu {
  display: flex;             
  justify-content: space-around; 
  width: 482px;
  height: 51px;
  border-radius: 40px;
  background-color: black;
  align-items: center;       
  gap: 2rem;              
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start;

  .item {
    margin: 0;            
  }

  .link {
    color: white;
    display: inline-block; 
    font-size: 14px;
    font-weight: 500;
    padding: 0.45rem 0; 
    text-decoration: none;

    &:hover {
      color: var(--color-text);
    }
  }

  @media (max-width: $breakpoint-tablet-horizontal) {
    display: none;
  }
}
