.about-container {
    max-width: 88%; 
    margin: 0 auto; 
    padding: 60px 20px;
}

.about-title {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.about-subtitle {
    font-size: 16px;
    color: rgb(80, 80, 80);
    margin-top: 20px;
}

.about-boxes {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.about-box-top{
    font-size: 70px;
    font-weight: 400;
}

.about-box-text {
    font-size: 14px;
    margin-top: 10px;
}


.about-box{
    display: flex;
    min-width: 225px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    height: 220px;
}

.about-box-fortune{
    display: flex;
    min-width: 470px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    height: 220px;
}


.about-header{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.about-link{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 1px solid black;

    &:hover{
        opacity: 0.5;
    }
}

@media (max-width: $breakpoint-tablet-horizontal) {
    .about-container {
        text-align: center;
    }

    .about-boxes {
        flex-direction: column;
        align-items: center;
    }

    .about-box {
        min-width: 100%;
        max-width: 300px;
    }

    .about-box-fortune {
        min-width: 100%;
        max-width: 300px;
    }

    .about-header{
        flex-direction: column;
        gap: 20px;
    }
}