// Always have only one component per file
flynt-component[name='BlockExample'] {

  // Use logical properties and values https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_logical_properties_and_values
  padding-block-end: 7.7rem;
  padding-block-start: 7.8rem;

  // To specify style for different screen sizes use variables from _variables.scss
  // Usualy you only need $breakpoint-tablet-horizontal but you can use any other breakpoint
  @media (max-width: $breakpoint-tablet-horizontal) {
    background-color: #f8f8f8;
    padding-block-end: 3rem;
    padding-block-start: 2rem;
  }

  .inner {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;

    @media (max-width: $breakpoint-tablet-horizontal) {
      flex-direction: column;
      padding-block: 3rem;

      > .content {
        display: none;
      }
    }
  }

  .image {
    block-size: 97rem;
    inline-size: 76rem;
    inset-block-start: 40.2%;
    inset-inline-start: 50.7%;
    object-fit: contain;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -2;
  }

  .content {
    display: flex;
    flex-direction: column;
    inline-size: 31.2%;
    margin-block-start: 0.7rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      inline-size: 100%;
      margin-block-end: 4.3rem;
      margin-block-start: 5.2rem;
      padding-inline: 1.5rem;
    }

    h1 {
      font-size: 5.5rem;
      font-weight: 800;
      line-height: 115%;
      margin-block-end: 1.8rem;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-block-end: 1.2rem;
      }
    }

    ul,
    p {
      font-size: 1.4rem;
      margin-block-end: 2.4rem;
      max-inline-size: 32rem;
    }

    ul {
      --item-spacing: 0.46em;
      font-weight: 600;
    }

    li {
      font-weight: 600;
      padding-inline-start: 1.4rem;

      &::marker {
        // You can use base64 encoded svg for small icons
        // https://yoksel.github.io/url-encoder/
        content: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M0.941064 1.27937C0.662336 1.00064 0.677245 0.533308 0.975144 0.235408C1.27304 -0.0624913 1.74038 -0.0773998 2.01911 0.201328L8.46991 6.65213L8.61848 1.7497C8.6248 1.54545 8.71333 1.35728 8.85168 1.21893C8.98931 1.0813 9.17608 0.992813 9.37897 0.985843C9.7865 0.971496 10.107 1.29057 10.0948 1.69803L9.89233 8.38862C9.88662 8.58487 9.80252 8.77602 9.65914 8.9194C9.51576 9.06278 9.32355 9.14727 9.12766 9.15262L2.44749 9.34462C2.0397 9.35654 1.72134 9.03531 1.73604 8.62742C1.75145 8.21951 2.09348 7.8795 2.50091 7.86794L7.38708 7.72755L0.941064 1.27937Z' fill='%230056BC'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .form {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.15);
    inline-size: 33.9%;
    margin-inline-start: auto;
    min-block-size: 61rem;
    padding-block-end: 5rem;
    padding-block-start: 7.1rem;
    padding-inline: 4.4rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      background-color: transparent;
      inline-size: 100%;
      margin: 0;
      min-block-size: auto;
      padding: 0;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 800;
      margin-block-end: 0.9rem;
      text-align: center;
    }

    p {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-block-start: 2.9rem;

    @media (max-width: $breakpoint-tablet-horizontal) {
      gap: 0.9rem;
      margin-block-start: 0.3rem;
    }

    &-title {
      font-weight: 700;
      margin-block-end: 0.8rem;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: none;
      }
    }

    a {
      align-items: center;
      color: inherit;
      display: flex;

      @media (max-width: $breakpoint-tablet-horizontal) {
        padding-inline-start: 3.6rem;
        position: relative;
      }

      &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        block-size: 1.6rem;
        content: '';
        display: inline-block;
        inline-size: 2rem;
        margin-inline-end: 1.9rem;

        @media (max-width: $breakpoint-tablet-horizontal) {
          block-size: 1.4rem;
          inline-size: 2.2rem;
          inset-block-start: 50%;
          inset-inline-start: 0;
          margin-inline-end: 1.4rem;
          position: absolute;
          transform: translate(0, -50%);
        }
      }
    }


    &-email {
      &::before {
        // You can use base64 encoded svg for small icons
        // https://yoksel.github.io/url-encoder/
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg id='email-svgrepo-com_2_' data-name='email-svgrepo-com (2)' transform='translate(0)'%3E%3Cpath id='Path_26' data-name='Path 26' d='M12,13.25a3.971,3.971,0,0,1-2.4-.8L3.4,7.8A1,1,0,1,1,4.6,6.2l6.2,4.65a2.01,2.01,0,0,0,2.4,0L19.4,6.2a1,1,0,0,1,1.2,1.6l-6.2,4.65A3.971,3.971,0,0,1,12,13.25Z' transform='translate(-2 -4)' fill='%231d1726'/%3E%3Cpath id='Rectangle_27' data-name='Rectangle 27' d='M2-1H16a3,3,0,0,1,3,3V12a3,3,0,0,1-3,3H2a3,3,0,0,1-3-3V2A3,3,0,0,1,2-1ZM16,13a1,1,0,0,0,1-1V2a1,1,0,0,0-1-1H2A1,1,0,0,0,1,2V12a1,1,0,0,0,1,1Z' transform='translate(1 1)' fill='%231d1726'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &-phone {
      &::before {
        // You can use base64 encoded svg for small icons
        // https://yoksel.github.io/url-encoder/
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.855' height='17.404' viewBox='0 0 18.855 17.404'%3E%3Cpath id='phone_6_' data-name='phone (6)' d='M17.022,9.252l-5.574-.4-1.2,2.131a3.418,3.418,0,0,1-.637-.207,4.772,4.772,0,0,1-.754-.375A5.663,5.663,0,0,1,7.574,9.276,4.177,4.177,0,0,1,7.109,8.6a3.58,3.58,0,0,1-.316-.659l1.965-1.46L7.664,1,.867,0,.624.757A12.742,12.742,0,0,0,18.147,16.206l.72-.336L17.8,12.042ZM15.669,15.13A10.876,10.876,0,0,1,2,3.083c.049-.332.114-.665.195-.99l3.888.573.6,3.02L4.644,7.2l.134.594a6.977,6.977,0,0,0,5.782,5.161l.083.01.608.058,1.25-2.218,3.069.22,1.058,3.787C16.312,14.933,15.991,15.039,15.669,15.13Z' transform='translate(-0.011)' fill='%231d1726'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .items {
    display: flex;
    gap: 7.1rem;
    justify-content: center;
    margin-block-start: 7.2rem;
    margin-inline: auto;
    max-inline-size: 74.5rem;
    text-align: center;

    .item {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      inline-size: 33.333%;
    }

    .icon {
      inline-size: 4.8rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  // If you have Partial files you can import them here
  @import 'Partials/form';
}
