<flynt-component name="BlockServices" load:on="visible">
<section class="about">
  <div class="about-container">
    <div class="services-header">
      <a href="/wordpress/index.php/pakalpojumi" class="services-link"><svg width="127" height="28" viewBox="0 0 127 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.6">
        <mask id="path-1-inside-1_35_546" fill="white">
        <path d="M0 0H126.111V28H0V0Z"/>
        </mask>
        <path d="M126.111 28V27H0V28V29H126.111V28Z" fill="black" mask="url(#path-1-inside-1_35_546)"/>
        <path d="M8.688 10.112C8.688 11.04 8.368 11.8133 7.728 12.432C7.09867 13.04 6.13333 13.344 4.832 13.344H2.688V18H1.232V6.848H4.832C6.09067 6.848 7.04533 7.152 7.696 7.76C8.35733 8.368 8.688 9.152 8.688 10.112ZM4.832 12.144C5.64267 12.144 6.24 11.968 6.624 11.616C7.008 11.264 7.2 10.7627 7.2 10.112C7.2 8.736 6.41067 8.048 4.832 8.048H2.688V12.144H4.832ZM9.95363 13.584C9.95363 12.688 10.135 11.904 10.4976 11.232C10.8603 10.5493 11.3563 10.0213 11.9856 9.648C12.6256 9.27467 13.335 9.088 14.1136 9.088C14.8816 9.088 15.5483 9.25333 16.1136 9.584C16.679 9.91467 17.1003 10.3307 17.3776 10.832V9.232H18.8496V18H17.3776V16.368C17.0896 16.88 16.6576 17.3067 16.0816 17.648C15.5163 17.9787 14.855 18.144 14.0976 18.144C13.319 18.144 12.615 17.952 11.9856 17.568C11.3563 17.184 10.8603 16.6453 10.4976 15.952C10.135 15.2587 9.95363 14.4693 9.95363 13.584ZM17.3776 13.6C17.3776 12.9387 17.2443 12.3627 16.9776 11.872C16.711 11.3813 16.3483 11.008 15.8896 10.752C15.4416 10.4853 14.9456 10.352 14.4016 10.352C13.8576 10.352 13.3616 10.48 12.9136 10.736C12.4656 10.992 12.1083 11.3653 11.8416 11.856C11.575 12.3467 11.4416 12.9227 11.4416 13.584C11.4416 14.256 11.575 14.8427 11.8416 15.344C12.1083 15.8347 12.4656 16.2133 12.9136 16.48C13.3616 16.736 13.8576 16.864 14.4016 16.864C14.9456 16.864 15.4416 16.736 15.8896 16.48C16.3483 16.2133 16.711 15.8347 16.9776 15.344C17.2443 14.8427 17.3776 14.2613 17.3776 13.6ZM26.2061 18L22.7661 14.128V18H21.3101V6.16H22.7661V13.12L26.1421 9.232H28.1741L24.0461 13.6L28.1901 18H26.2061ZM29.0005 13.584C29.0005 12.688 29.1818 11.904 29.5445 11.232C29.9072 10.5493 30.4032 10.0213 31.0325 9.648C31.6725 9.27467 32.3818 9.088 33.1605 9.088C33.9285 9.088 34.5952 9.25333 35.1605 9.584C35.7258 9.91467 36.1472 10.3307 36.4245 10.832V9.232H37.8965V18H36.4245V16.368C36.1365 16.88 35.7045 17.3067 35.1285 17.648C34.5632 17.9787 33.9018 18.144 33.1445 18.144C32.3658 18.144 31.6618 17.952 31.0325 17.568C30.4032 17.184 29.9072 16.6453 29.5445 15.952C29.1818 15.2587 29.0005 14.4693 29.0005 13.584ZM36.4245 13.6C36.4245 12.9387 36.2912 12.3627 36.0245 11.872C35.7578 11.3813 35.3952 11.008 34.9365 10.752C34.4885 10.4853 33.9925 10.352 33.4485 10.352C32.9045 10.352 32.4085 10.48 31.9605 10.736C31.5125 10.992 31.1552 11.3653 30.8885 11.856C30.6218 12.3467 30.4885 12.9227 30.4885 13.584C30.4885 14.256 30.6218 14.8427 30.8885 15.344C31.1552 15.8347 31.5125 16.2133 31.9605 16.48C32.4085 16.736 32.9045 16.864 33.4485 16.864C33.9925 16.864 34.4885 16.736 34.9365 16.48C35.3952 16.2133 35.7578 15.8347 36.0245 15.344C36.2912 14.8427 36.4245 14.2613 36.4245 13.6ZM41.813 6.16V18H40.357V6.16H41.813ZM45.7505 10.848C46.0385 10.3467 46.4652 9.93067 47.0305 9.6C47.6065 9.25867 48.2732 9.088 49.0305 9.088C49.8092 9.088 50.5132 9.27467 51.1425 9.648C51.7825 10.0213 52.2838 10.5493 52.6465 11.232C53.0092 11.904 53.1905 12.688 53.1905 13.584C53.1905 14.4693 53.0092 15.2587 52.6465 15.952C52.2838 16.6453 51.7825 17.184 51.1425 17.568C50.5132 17.952 49.8092 18.144 49.0305 18.144C48.2838 18.144 47.6225 17.9787 47.0465 17.648C46.4812 17.3067 46.0492 16.8853 45.7505 16.384V22.16H44.2945V9.232H45.7505V10.848ZM51.7025 13.584C51.7025 12.9227 51.5692 12.3467 51.3025 11.856C51.0358 11.3653 50.6732 10.992 50.2145 10.736C49.7665 10.48 49.2705 10.352 48.7265 10.352C48.1932 10.352 47.6972 10.4853 47.2385 10.752C46.7905 11.008 46.4278 11.3867 46.1505 11.888C45.8838 12.3787 45.7505 12.9493 45.7505 13.6C45.7505 14.2613 45.8838 14.8427 46.1505 15.344C46.4278 15.8347 46.7905 16.2133 47.2385 16.48C47.6972 16.736 48.1932 16.864 48.7265 16.864C49.2705 16.864 49.7665 16.736 50.2145 16.48C50.6732 16.2133 51.0358 15.8347 51.3025 15.344C51.5692 14.8427 51.7025 14.256 51.7025 13.584ZM58.931 18.144C58.1097 18.144 57.363 17.9573 56.691 17.584C56.0297 17.2107 55.507 16.6827 55.123 16C54.7497 15.3067 54.563 14.5067 54.563 13.6C54.563 12.704 54.755 11.9147 55.139 11.232C55.5337 10.5387 56.067 10.0107 56.739 9.648C57.411 9.27467 58.163 9.088 58.995 9.088C59.827 9.088 60.579 9.27467 61.251 9.648C61.923 10.0107 62.451 10.5333 62.835 11.216C63.2297 11.8987 63.427 12.6933 63.427 13.6C63.427 14.5067 63.2243 15.3067 62.819 16C62.4243 16.6827 61.8857 17.2107 61.203 17.584C60.5203 17.9573 59.763 18.144 58.931 18.144ZM58.931 16.864C59.4537 16.864 59.9443 16.7413 60.403 16.496C60.8617 16.2507 61.2297 15.8827 61.507 15.392C61.795 14.9013 61.939 14.304 61.939 13.6C61.939 12.896 61.8003 12.2987 61.523 11.808C61.2457 11.3173 60.883 10.9547 60.435 10.72C59.987 10.4747 59.5017 10.352 58.979 10.352C58.4457 10.352 57.955 10.4747 57.507 10.72C57.0697 10.9547 56.7177 11.3173 56.451 11.808C56.1843 12.2987 56.051 12.896 56.051 13.6C56.051 14.3147 56.179 14.9173 56.435 15.408C56.7017 15.8987 57.0537 16.2667 57.491 16.512C57.9283 16.7467 58.4083 16.864 58.931 16.864ZM66.1254 7.808C65.848 7.808 65.6134 7.712 65.4214 7.52C65.24 7.328 65.1494 7.09333 65.1494 6.816C65.1494 6.53867 65.24 6.304 65.4214 6.112C65.6134 5.92 65.848 5.824 66.1254 5.824C66.4027 5.824 66.632 5.92 66.8134 6.112C67.0054 6.304 67.1014 6.53867 67.1014 6.816C67.1014 7.09333 67.0054 7.328 66.8134 7.52C66.632 7.712 66.4027 7.808 66.1254 7.808ZM66.8454 19.904C66.8454 20.6827 66.648 21.2533 66.2534 21.616C65.8587 21.9787 65.2827 22.16 64.5254 22.16H63.6774V20.928H64.2854C64.6907 20.928 64.9734 20.848 65.1334 20.688C65.304 20.528 65.3894 20.256 65.3894 19.872V9.232H66.8454V19.904ZM77.0861 9.232V18H75.6301V16.704C75.3528 17.152 74.9635 17.504 74.4621 17.76C73.9715 18.0053 73.4275 18.128 72.8301 18.128C72.1475 18.128 71.5341 17.9893 70.9901 17.712C70.4461 17.424 70.0141 16.9973 69.6941 16.432C69.3848 15.8667 69.2301 15.1787 69.2301 14.368V9.232H70.6701V14.176C70.6701 15.04 70.8888 15.7067 71.3261 16.176C71.7635 16.6347 72.3608 16.864 73.1181 16.864C73.8968 16.864 74.5101 16.624 74.9581 16.144C75.4061 15.664 75.6301 14.9653 75.6301 14.048V9.232H77.0861ZM90.0885 9.072C90.7712 9.072 91.3792 9.216 91.9125 9.504C92.4458 9.78133 92.8672 10.2027 93.1765 10.768C93.4858 11.3333 93.6405 12.0213 93.6405 12.832V18H92.2005V13.04C92.2005 12.1653 91.9818 11.4987 91.5445 11.04C91.1178 10.5707 90.5365 10.336 89.8005 10.336C89.0432 10.336 88.4405 10.5813 87.9925 11.072C87.5445 11.552 87.3205 12.2507 87.3205 13.168V18H85.8805V13.04C85.8805 12.1653 85.6618 11.4987 85.2245 11.04C84.7978 10.5707 84.2165 10.336 83.4805 10.336C82.7232 10.336 82.1205 10.5813 81.6725 11.072C81.2245 11.552 81.0005 12.2507 81.0005 13.168V18H79.5445V9.232H81.0005V10.496C81.2885 10.0373 81.6725 9.68533 82.1525 9.44C82.6432 9.19467 83.1818 9.072 83.7685 9.072C84.5045 9.072 85.1552 9.23733 85.7205 9.568C86.2858 9.89867 86.7072 10.384 86.9845 11.024C87.2298 10.4053 87.6352 9.92533 88.2005 9.584C88.7658 9.24267 89.3952 9.072 90.0885 9.072ZM96.7809 7.808C96.5035 7.808 96.2689 7.712 96.0769 7.52C95.8849 7.328 95.7889 7.09333 95.7889 6.816C95.7889 6.53867 95.8849 6.304 96.0769 6.112C96.2689 5.92 96.5035 5.824 96.7809 5.824C97.0475 5.824 97.2715 5.92 97.4529 6.112C97.6449 6.304 97.7409 6.53867 97.7409 6.816C97.7409 7.09333 97.6449 7.328 97.4529 7.52C97.2715 7.712 97.0475 7.808 96.7809 7.808ZM97.4849 9.232V18H96.0289V9.232H97.4849Z" fill="black"/>
        <g clip-path="url(#clip0_35_546)">
        <path d="M109.215 17.6455L119.377 7.62988" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
        <path d="M109.215 6.96582H119.896V17.6463" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
        </g>
        </g>
        <defs>
        <clipPath id="clip0_35_546">
        <rect width="23.1108" height="13.6953" fill="white" transform="translate(103 5.15234)"/>
        </clipPath>
        </defs>
        </svg>
      </a> 
      <div class="services-title-container">
        <span class="services-title">Jūsu <span style="color: #F0963C;">risinājums</span> sākas šeit</span>
        <p class="services-subtitle">AmberLaw piedāvā plašu juridisko pakalpojumu spektru gan Latvijas, gan ārvalstu klientiem – no ikdienas komerctiesībām līdz sarežģītiem tiesvedības procesiem vai uzņēmumu restrukturizācijai.</p>
      </div>
    </div>
    <div class="services-content">
      <svg class="services-line" width="5" height="528" viewBox="0 0 5 528" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="-1.5" x2="252.445" y2="-1.5" transform="matrix(0.00389416 0.999992 1 0 3 0)" stroke="black" stroke-width="3"/>
      <line y1="-1.5" x2="252.445" y2="-1.5" transform="matrix(0.00396124 0.999992 1 0 3.98303 275.557)" stroke="#E0E0E0" stroke-width="3"/>
      </svg>
      <img src="http://localhost:8888/wordpress/wp-content/themes/custom-theme/assets/images/services-image.svg" class="services-image"></img>
      <table class="services-table">
        <tbody>
          <tr class="services-table-item">
            <td class="services-table-number">01</td>
            <td class="services-table-label">Administratīvās tiesības</td>
            <td class="services-table-content">AmberLaw pārstāv klientus attiecībās ar valsts iestādēm, palīdz apstrīdēt lēmumus, kā arī nodrošina juridisku aizsardzību dažādos valsts pārvaldes procesos.</td>
          </tr>
          <tr class="services-table-item">
            <td class="services-table-number">02</td>
            <td class="services-table-label">Apvienošana un iegāde (M&A)</td>
            <td class="services-table-content">Mūsu juristi palīdz sagatavot, izvērtēt un noslēgt darījumus par uzņēmumu iegādi, apvienošanos vai restrukturizāciju – no sākotnējās izpētes līdz dokumentu parakstīšanai.</td>
          </tr>
          <tr class="services-table-item">
            <td class="services-table-number">03</td>
            <td class="services-table-label">Darba tiesības</td>
            <td class="services-table-content">Sniedzam padziļinātas konsultācijas darba līgumu, atlaišanas, darba strīdu un iekšējās politikas jautājumos.</td>
          </tr>
          <tr class="services-table-item">
            <td class="services-table-number">04</td>
            <td class="services-table-label">Komerctiesības</td>
            <td class="services-table-content">Palīdzam dibināt, pārvaldīt un pārstrukturēt uzņēmumus, kā arī nodrošinām juridisko dokumentāciju un līgumu pārvaldību.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>