.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.banner-content {
    width: 95vw;
    max-width: 1394px;
    height: 304px;
    text-align: center;
    background-image: url('http://localhost:8888/wordpress/wp-content/themes/custom-theme/assets/images/banner.svg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}


.banner-container {
    width: 95vw;
    max-width: 1394px;
    height: 304px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    color: white;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}


.banner-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.banner-title-line {
    font-size: 40px;
    line-height: 1.2;
}

.banner-subtitle-line {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.banner-title-second {
    font-size: 40px;
    line-height: 1.2;
}

.banner-line {
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.banner-button{
   cursor: pointer;
   transition: all 0.2s ease;

   &:hover{
        opacity: 0.8;
   }
}


@media (max-width: $breakpoint-tablet-horizontal) {
    .banner-container {
        flex-direction: column;
        padding: 40px 20px;
        gap: 20px;
        text-align: center;
    }

    .banner-text {
        align-items: center;
    }

    .banner-title-line, .banner-title-second {
        font-size: 32px;
    }
    .banner-subtitle-line {
        font-size: 14px;
    }

    .banner-line {
        justify-content: center;
    }
}