<flynt-component name="Banner">
<section class="banner">
  <div class="banner-content">
    <div class="banner-container">
      <div class="banner-text">
        <span class="banner-title-line">
          {{ title.first }}
        </span>
        <div class="banner-title-line banner-subtitle-line">
          <span class="banner-title-second">
            {{ title.second }}
          </span>
          <div class="banner-line">
            <svg width="86" height="6" viewBox="0 0 86 6" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 0px 20px;">
              <path d="M79.9695 2.66651C79.9695 4.13927 81.1634 5.33318 82.6361 5.33318C84.1089 5.33318 85.3028 4.13927 85.3028 2.66651C85.3028 1.19375 84.1089 -0.000155407 82.6361 -0.000155536C81.1634 -0.000155665 79.9695 1.19375 79.9695 2.66651ZM0 2.6665V3.1665H82.6361V2.66651V2.16651H0V2.1665Z" fill="#F0963C"/>
            </svg>
            <span style='margin-bottom: 1px;'>{{ subtitle }}</span>
          </div>
        </div>
      </div>
      <a class="banner-button" href="/wordpress/index.php/sazinies-ar-mums">
        <svg width="119" height="119" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="118.149" height="118.149" rx="59.0747" transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 118.149 118.149)" fill="black"/>
        <path d="M35.6767 82.4736L79.5618 37.9498" stroke="white" stroke-width="6.39281" stroke-linecap="square" stroke-linejoin="bevel"/>
        <path d="M82.4733 82.4736L82.4733 35.6755L35.6751 35.6755" stroke="white" stroke-width="6.39281" stroke-linecap="square" stroke-linejoin="bevel"/>
        </svg>
      </a>
    </div>
  </div>
</section>
</flynt-component>
